PaintGIF.xcodeproj/project.xcworkspace/xcshareddata/PaintGIF.xccheckout
PaintGIF.xcworkspace/contents.xcworkspacedata
Pods/Manifest.lock
Pods/AnimatedGIFImageSerialization/LICENSE
Pods/AnimatedGIFImageSerialization/README.md
Pods/AnimatedGIFImageSerialization/AnimatedGIFImageSerialization/AnimatedGIFImageSerialization.h
Pods/AnimatedGIFImageSerialization/AnimatedGIFImageSerialization/AnimatedGIFImageSerialization.m
Pods/Headers/Private/AnimatedGIFImageSerialization/AnimatedGIFImageSerialization.h
Pods/Headers/Public/AnimatedGIFImageSerialization/AnimatedGIFImageSerialization.h
Pods/Pods.xcodeproj/project.pbxproj
Pods/Target Support Files/Pods/Pods-acknowledgements.markdown
Pods/Target Support Files/Pods/Pods-acknowledgements.plist
Pods/Target Support Files/Pods/Pods-dummy.m
Pods/Target Support Files/Pods/Pods-environment.h
Pods/Target Support Files/Pods/Pods-resources.sh
Pods/Target Support Files/Pods/Pods.debug.xcconfig
Pods/Target Support Files/Pods/Pods.release.xcconfig
Pods/Target Support Files/Pods-AnimatedGIFImageSerialization/Pods-AnimatedGIFImageSerialization-dummy.m
Pods/Target Support Files/Pods-AnimatedGIFImageSerialization/Pods-AnimatedGIFImageSerialization-prefix.pch
Pods/Target Support Files/Pods-AnimatedGIFImageSerialization/Pods-AnimatedGIFImageSerialization-Private.xcconfig
Pods/Target Support Files/Pods-AnimatedGIFImageSerialization/Pods-AnimatedGIFImageSerialization.xcconfig
PaintGIF.xcodeproj/xcuserdata
PaintGIF.xcworkspace/xcuserdata
Podfile.lock
Pods
